html {
    scroll-behavior: smooth; 
}

/* body {
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    color: #2b2b2b;
    margin: 0;
    line-height: 40px;
    background-color: #ccf3fa77;
} */

li {
    list-style-type: none;
}

/* ul {
    margin-left: 0;
    padding-left: 0;
} */

p, div, a, ul, li, span {
    box-sizing: border-box;
}
    
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* h1 {
    font-size: 80px;
    margin-bottom: 30px;
} */

.header {
    background: #000000de;
    box-shadow: 0px 4px 4px #04161a80;
    padding: 15px 0;
    font-weight: 700;
}

/* .nav-list {
    display: flex;
    justify-content: space-around;
} */

/* a {
    text-decoration: none;
    color: #437e94;
    transition: color 0.4s ease;
} */

/* .nav-link:hover {
    color: #2a3638;
} */

.about {
    padding: 70px;
}

/* .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} */

/* .item {
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
} */

/* .img {
    width: 100%;
    border-radius: 10px;
} */

/* .btn_ {
    font-family: 'Cormorant Garamond', serif;
    padding: 10px 15px;
    background-color: #0D606F;
    color: #d6f0f5;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
} */

/* .btn:hover {
    background-color: #083841;
    color: #b2c7ca;
} */

.contact {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 50px;
}

.contact-btn {
    width: 250px;
    font-size: 18px;
    padding: 10px 20px;
    /* background-color: #0D606F;
    color: #d6f0f5; */
}

.social-icons {
    height: 30px;
    width: 30px;
}

.footer {
    background: #e7e7e781;
    padding: 15px 0;
}

.social {
    color: black;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    gap: 100px;
}